.outer_container {
    display: flex;
    flex: auto;
}

.inner_container {
    display: flex;
    flex-grow: initial;
}

.header {
    color: white;
}

.contact_info {
    color: white;
    background-color: green;
}

.contact_image {
    inline-size: initial;
}