.heading_container {
    display: flexbox;
    color: white;
}

.links_container {
    display: flexbox;
}

.portfolio_picture {
    display: flexbox;
}

.projects_links {
    display: flexbox;
}

.paragraph {
    display: flexbox;
}